
.game-container {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    height: auto;
    width: 100%;
 }

.portrait-container {
    margin-top: 10vh;
    margin-left: 6vw;
    margin-bottom: 3vh;
    height: 40vh;
    display: inline-block;
}

.topic-container {
    margin-top: 2vh !important;
    margin-left: 5vw !important;
    width: 51vw;
    height: 50vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.topic-box p {
    font-family: "Press Start 2P";
}

.dialogue-box {
    display: block;
    width: 70%;
    bottom: 2vh;
    left: 15%;
    margin-top: 6vh !important;
}

.dialogue-box p {
    font-family: "Press Start 2P";
    font-size: 3vh;
    text-align: left;
}

.topic-list {
    overflow: auto;
    height: 42.5vh;
}

.topic {
    width: 15vw;
    height: 15vh;
    display: inline-block;
    cursor: pointer
}

.topic-row {
    padding: 1em;
}

.topic-spacer{
    display: inline-block;
    width: 2vw;
}

.topic-placard {
    margin-top: -5vh !important;
    z-index: 1;
    background-color: white;
}

.topic-icon {
    position: relative;
    z-index: -1;
}
