.loading-text {
   font-family: 'Press Start 2P';
   color: white;
   text-align: center;
   font-size: 5em;
}

.sliding-center-div{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}

.sliding-container {
    overflow-y: hidden;
	max-height: 2000px; /* approximate max height */
    background-color: black;

    /* credit to jkneb
    http://jsfiddle.net/jkneb/9uRKt/ */


    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */

    background-color: rgb(0,0,0); /* Black background with opacity */
    z-index: 2;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
	transition-duration: .5s;
}

.intro-text {
    font-family: 'Press Start 2P';
    color: white;
    text-align: left;
    font-size: 2em;
}

.intro-container {
    padding: 5em;
    padding-left: 25em;
    padding-top: 3em;
    width: 80%;
    cursor: pointer;

}
