
.game-container {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    height: auto;
    width: 100%;
 }

.portrait-container {
    margin-top: 10vh;
    margin-left: 6vw;
    margin-bottom: 3vh;
    height: 40vh;
    display: inline-block;
}

.portrait {
    visibility: hidden;
}

.portrait-on {
    visibility: visible;
}

.topic-container {
    margin-top: 2vh !important;
    margin-left: 5vw !important;
    width: 51vw;
    height: 0vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;

    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
	transition-duration: .5s;
}

.topic-on {
    height: 50vh;
    overflow: auto;
}

.topic-box p {
    font-family: "Press Start 2P";
}

.dialogue-box {
    display: block;
    width: 70%;
    bottom: 2vh;
    left: 15%;
    margin-top: 6vh !important;
    cursor: pointer;
}

.dialogue-box p {
    font-family: "Press Start 2P";
    font-size: 3vh;
    text-align: left;
}

.selected-overlay {
    display: none;
    overflow: auto;
    height: 42.5vh;
}

.topic-list {
    overflow: auto;
    height: 42.5vh;
    display: block;
}

.topic {
    margin-top: 0 !important;
    width: 15vw;
    height: auto;
    display: inline-block;
    cursor: pointer;
}

.topic-row {
    padding: 1em;
}

.topic-spacer {
    display: inline-block;
    width: 2vw;
}

.topic-placard {
    margin-top: 0px !important;
    position: relative;
    z-index: 2;
}

.icon-wrapper {
    height: 15vh;
    overflow: hidden;
}

.dialogue-container {
    height: 100%;
}

.portfolio-link {
    text-decoration: none;
    font-family: 'Press Start 2P';
    text-align: center;

}
