@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
}

@mixin step1( $width, $color ) {
  box-shadow:
    $width 0 $color,
    -$width 0 $color,
    0 (-$width) $color,
    0 $width $color;
  margin: $width auto;
}
/*@mixin step2( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $color,
    -2*$width 0 $color,
    0 (-2*$width) $color,
    0 2*$width $color,
    $width $width $color,
    -$width $width $color,
    $width (-$width) $color,
    -$width (-$width) $color;
}*/
@mixin step2v2( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $color,
    -2*$width 0 $color,
    0 (-2*$width) $color,
    0 2*$width $color,
    0 0 0 $width $color;
  margin: 2*$width auto;
}
/*@mixin step3( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $bgcolor,
    -2*$width 0 $bgcolor,
    0 (-2*$width) $bgcolor,
    0 2*$width $bgcolor,
    0 0 0 $width $bgcolor,
    3*$width 0 $color,
    -3*$width 0 $color,
    0 3*$width $color,
    0 (-3*$width) $color,
    -2*$width (-$width) $color,
    -$width (-2*$width) $color,
    $width (-2*$width) $color,
    2*$width (-$width) $color,
    2*$width $width $color,
    $width 2*$width $color,
    -$width 2*$width $color,
    -2*$width $width $color;
}*/
@mixin step3v2( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $bgcolor,
    -2*$width 0 $bgcolor,
    0 (-2*$width) $bgcolor,
    0 2*$width $bgcolor,
    0 0 0 $width $bgcolor,
    3*$width 0 $color,
    -3*$width 0 $color,
    0 3*$width $color,
    0 (-3*$width) $color,
    0 (-$width) 0 $width $color,
    0 $width 0 $width $color,
    $width 0 0 $width $color,
    -$width 0 0 $width $color;
  margin: 3*$width auto;
}
@mixin step4( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $bgcolor,
    -2*$width 0 $bgcolor,
    0 (-2*$width) $bgcolor,
    0 2*$width $bgcolor,
    0 0 0 $width $bgcolor,
    3*$width 0 $bgcolor,
    -3*$width 0 $bgcolor,
    0 3*$width $bgcolor,
    0 (-3*$width) $bgcolor,
    0 (-$width) 0 $width $bgcolor,
    0 $width 0 $width $bgcolor,
    $width 0 0 $width $bgcolor,
    -$width 0 0 $width $bgcolor,
    4*$width 0 $color,
    -4*$width 0 $color,
    0 (-4*$width) $color,
    0 4*$width $color,
    2*$width 0 0 $width $color,
    -2*$width 0 0 $width $color,
    0 2*$width 0 $width $color,
    0 (-2*$width) 0 $width $color,
    0 0 0 2*$width $color;
    margin: 4*$width auto;
}
@mixin other( $width, $color, $bgcolor ) {
  box-shadow:
    4*$width 0 $bgcolor,
    -4*$width 0 $bgcolor,
    0 (-4*$width) $bgcolor,
    0 4*$width $bgcolor,
    $width 0 0 2*$width $bgcolor,
    -$width 0 0 2*$width $bgcolor,
    0 (-$width) 0 2*$width $bgcolor,
    0 $width 0 2*$width $bgcolor,
    5*$width 0 $color,
    -5*$width 0 $color,
    0 (-5*$width) $color,
    0 5*$width $color,
    0 0 0 3*$width $color,
    0 2*$width 0 2*$width $color,
    0 (-2*$width) 0 2*$width $color,
    2*$width 0 0 2*$width $color,
    (-2*$width) 0 0 2*$width $color;
    margin: 5*$width auto;
}
.lvl1 {
  @include other( 2px, black, white );
}
.lvl2 {
  @include step2v2( 4px, blue, white );
}
.lvl3 {
  @include step3v2( 3px, red, white );
}
.lvl4 {
  @include step4( 5px, green, white );
}
.other {
  @include step1( 6px, black );
}

.dialogue-border {
  @include other( 8px, black, white );
}

.topic-box {
  @include step1( 6px, black );
}
